.analytics-card-icon {
  font-size: 1.5rem;
}

.analytics-clock-icon {
  font-size: .8rem;
}

.analytics-section-header {
  border-right: 1px solid #BABABB;
  background-color: #f1f1f1 !important;
}

.analytics-progress-cell {
  border-right: 1px solid #BABABB;
  background-color: #f1f1f1 !important;
}

.analytics-percentage-cell {
  background-color: #f1f1f1 !important;
}

.analytics-progress-bar {
  height: 25px;
  border-radius: 6px;
  background-color: #f1f1f1;
}