@font-face {
  font-family: "dobkin-script";
  src: url("../../../fonts/dobkin-script.ttf");
}
@font-face {
  font-family: "felix-titling";
  src: url("../../../fonts/felix-titling.ttf");
}
@font-face {
  font-family: "pinyon-script";
  src: url("../../../fonts/pinyon-script-regular.ttf");
}
