.onboarding-bg-veector {
  position: absolute;
  top: 0;
  right: 0;
  @media (min-width: 576px) {
    height: auto;
  }
  // Extra-large screens (≥992px)
  @media (min-width: 992px) {
    height: 60%;
  }
}
.container-onboarding {
  min-height: 100vh;
  position: relative;
  .content {
    // Default padding for small screens
    padding-top: 0px;

    // Medium screens (≥576px)
    @media (min-width: 576px) {
      padding-top: 0px;
    }

    // Large screens (≥768px)
    @media (min-width: 768px) {
      padding-top: 0px;
    }

    // Extra-large screens (≥992px)
    @media (min-width: 992px) {
      padding-top: 0px;
    }

    // Extra-extra-large screens (≥1200px)
    @media (min-width: 1200px) {
      padding-top: 0px;
    }

    // Extra-extra-extra-large screens (≥1400px)
    @media (min-width: 1400px) {
      padding-top: 100px;
    }
    @media (min-width: 1680px) {
      padding-top: 200px;
    }
    .step-nav {
      cursor: pointer;
    }
    .path-selector {
      position: relative;
      cursor: pointer;
      height: 250px;
      width: 250px;
      transition: 0.3s ease-in-out;
      border: 3px solid $primary;
      margin: 20px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 0 5px;
      .selectetion-box {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 2px 10px;
        border-radius: 30px;
        background-color: $primary;
        color: $white;
        display: none;
        transition: 0.3s ease-in-out;
      }
      img {
        height: 80%;
      }
      &:hover {
        background-color: $primary-extra-light;
      }
      &.active {
        background-color: $primary-extra-light;
        .selectetion-box {
          display: inline;
        }
      }
    }
  }

  .image-dropzone,
  .image-editor-container {
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 10px;
    border: 3px solid $primary;
    border-style: dashed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    cursor: pointer;
  }
  .image-editor {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    height: 200px;
    width: 200px;
    .image-crop-container {
      display: inline-block;
      width: fit-content;
    }
  }
  .payment-option {
    transition: 0.3s ease-in-out;
    position: relative;
    cursor: pointer;
    border: 3px solid $primary;
    .selectetion-box {
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-50%, -50%);
      padding: 2px 10px;
      border-radius: 30px;
      background-color: $primary;
      color: $white;
      display: none;
      transition: 0.3s ease-in-out;
    }
    .selectetion-dot {
      display: none;
    }
    &:hover {
      background-color: $primary-extra-light;
    }
    &.active {
      background-color: $primary-extra-light;
      .selectetion-box {
        display: inline;
      }
      .selectetion-dot {
        display: inline;
      }
    }
  }
}
